<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Project Reactjs</title>
	<script src="js/react.development.js" crossorigin></script>
  	<script src="js/react-dom.development.js" crossorigin></script>
  	<script src="js/babel.min.js" crossorigin></script>

  	<link rel="stylesheet" href="css/master.css">

</head>
<body>
	<div id="root">
		<script src="master3.js" type="text/babel"></script>
	</div>
</body>
</html>